<phpunit bootstrap="test/autoload.php">
	<testsuites>
		<testsuite name="Zombie">
			<file>test/tokenTest.php</file>
			<file>test/cacheTest.php</file>
			<file>test/errorTest.php</file>

			<file>test/compat/typesTest.php</file>
			<file>test/compat/cryptoTest.php</file>

			<file>test/util/collectibleTest.php</file>
			<file>test/util/mutableTest.php</file>
			<file>test/util/objectTest.php</file>

			<file>test/database/recordTest.php</file>
			<file>test/database/resultTest.php</file>
			<file>test/database/schemaTest.php</file>

			<file>test/database/tableTest.php</file>
			<file>test/database/queryTest.php</file>
			<file>test/database/relationTest.php</file>
			<file>test/database/bridgeTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
