<phpunit bootstrap="test/autoload.php">
	<testsuites>
		<testsuite name="Zombie">
			<file>test/collectionTest.php</file>
			<file>test/mutableTest.php</file>
			<file>test/objectTest.php</file>
			<file>test/cacheTest.php</file>
			<!-- <file>test/databaseTest.php</file> -->
			<!-- <file>test/resourceTest.php</file> -->
		</testsuite>
	</testsuites>
</phpunit>
